{% extends "shared/base.html" %}
{% load static %}
{% block heading_page_subtitle %}Update your password here!{% endblock %}
{% block heading_page_title %}Change password{% endblock %}
{% block content %}
<form method = 'POST'>
    {% csrf_token %}
    {% if messages %}
    <ul class="messages" >
        {% for message in messages %}
            <li style = 'text-align:center;font-size:12;color:red;list-style-type: none;' {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
<div class="container-xl px-4 mt-4">
    <hr class="mt-0 mb-4">
    <div class="row">
    <div class="col-xl-8">
    
    <div class="card mb-4">
    <div class="card-header">Change password</div>
    <div class="card-body">
    
    
    <div class="mb-3">
    <label class="small mb-1">Current Password</label>
    <input class="form-control" type="password" placeholder="Enter your old password" name = 'password'>
    </div>
    
    <div class="row gx-3 mb-3">
    
    <div class="mb-3">
    <label class="small mb-1">New Password</label>
    <input class="form-control" type="password" placeholder="Enter your new password" name = 'new_password'>
    </div>
    
    <div class="row gx-3 mb-3">
    
        <div class="mb-3">
            <label class="small mb-1">Confirm Password</label>
            <input class="form-control" type="password" placeholder="Confirm your new password" name = 're_password'>
            </div>
    
    </div>
    
    <input class="btn btn-primary" type="submit" value='Save changes'>
    
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
</form>
{% endblock %}